<div id="forget-password-modal" class="ui tiny inverted modal">
    <div class="ui middle aligned center aligned grid container dark">
        <div class="column">
            <h2 class="ui inverted header">
                <div class="content">
                    Reset password
                </div>
            </h2>
            <p class="inverted">
                Since you somehow forgot your password, I had to make this.
            </p>
            <br>
            <form class="ui inverted form attached" method="POST" id="send-reset-password-form" novalidate>
                <div class="ui inverted transparent stacked">
                    <div class="field">
                        <div class="ui inverted transparent left icon input">
                            <i class="mail icon"></i>
                            {{ send_reset_form.email }}
                        </div>
                    </div>
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                    {% endif %}
                    {% csrf_token %}

                    <button type="submit" id="reset-password-button" class="ui inverted fluid large button"
                            tabindex="4">Send reset email
                    </button>
                </div>

                <div class="ui inverted error message">
                </div>
            </form>
            <div id="id_sent_email_message" class="ui inverted positive message hidden">
                <i class="close icon"></i>
                <div class="header">
                    Successfully sent email
                </div>
                <p>Please check your email for the reset password link</p>
            </div>
        </div>
    </div>
</div>