{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <script src="{% static 'account/js/forget.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui inverted white image header">
                <div class="content">
                    You must feel silly right now...
                </div>
            </h2>
            <form class="ui large form">
                <div class="">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            {{ form.user_name }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ form.email }}
                        </div>
                    </div>

                    {% csrf_token %}

                    <div class="ui fluid large blue submit button">Send Email</div>
                </div>
                <div class="ui error message"></div>
            </form>
            <div class="ui positive message hidden">
                <i class="close icon"></i>
                <div class="header">
                    Successfully sent email
                </div>
                <p>Please check your email for the reset password link</p>
            </div>
        </div>
    </div>

{% endblock %}