{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <script src="{% static 'account/js/register.js' %}"></script>
    <link rel="stylesheet" href="{% static 'account/css/main.css' %}" />
{% endblock %}

{% block content %}

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui inverted white image header">
                <div class="content">
                    Register for an account
                </div>
            </h2>
            <form class="ui large form">
                <div class="">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            {{ form.user_name }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            {{ form.email }}
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ form.password }}
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ form.confirm_password }}
                        </div>
                    </div>

                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                    {% endif %}

                    {% csrf_token %}

                    <div class="ui fluid large blue submit button">Login</div>

                </div>

                <div class="ui error message"></div>

            </form>
        </div>
    </div>

{% endblock %}