{% load is_active %}
<div class="ui grid">
    <div class="computer tablet only row">
        <div class="ui fixed menu navbar grid">
            <a href="{% url 'home:index' %}" class="brand item">ReSurfed</a>
            <a href="{% url 'home:index' %}" class="{% is_active request 'home:index' %} item">Home</a>
            {% if user.is_authenticated %}
            <a href="{% url 'uploader:uploader' %}" class="{% is_active request 'uploader:uploader' %} item">Map Management</a>
            {% endif %}

            <div class="right menu">
                {% if not user.is_authenticated %}
                    <a id="show-login" class="item">Log In</a>
                    <a id="show-register" class="item">Register</a>
                {% else %}

                    <div class="ui inverted dropdown item">Hello {{ user.username }}
                        <i class="dropdown icon"></i>
                        <div class="inverted menu">
                            <a class="item" href="{% url 'account:profile' %}">Profile</a>
                            <a class="item" href="{% url 'account:logout' %}">Sign out</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

 {% if not user.is_authenticated %}
    {% include 'account/login-modal.html' %}
    {% include 'account/register-modal.html' %}
    {% include 'account/forget-password-modal.html' %}
{% endif %}
