body {
    background: linear-gradient(31deg, #04a57b, #2f38ae, #474250);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 39s ease infinite;
    -moz-animation: AnimationName 39s ease infinite;
    animation: AnimationName 39s ease infinite;
    color: white;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 63%}
    50%{background-position:100% 38%}
    100%{background-position:0% 63%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 63%}
    50%{background-position:100% 38%}
    100%{background-position:0% 63%}
}
@keyframes AnimationName {
    0%{background-position:0% 63%}
    50%{background-position:100% 38%}
    100%{background-position:0% 63%}
}


/*

    background: linear-gradient(3deg, #02926d, #4a64f0, #2b2e3a);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 43s ease infinite;
    -moz-animation: AnimationName 43s ease infinite;
    animation: AnimationName 43s ease infinite;

    background: #8360c3;
    background: -webkit-linear-gradient(to right, #8360c3, #2ebf91);
    background: linear-gradient(to right, #8360c3, #2ebf91);
 */

.ui.fixed.menu.navbar {
    background-color: #3820eb;
}

.ui.fixed.menu.navbar.grid > a {
    color:white;
}

.ui.menu .item {
    color: white;
}

.ui.menu .active.item {
    color: white;
}

body > .middle.grid {
    height: 50%;
}

.dark {
    background-color: #222;
}

.loading {
    color: black;
}

.ui.transparent.inverted.input > input {
    color: #54c8ff;
    opacity: 0.6;
}

.ui.transparent.inverted.input > input::-moz-placeholder {
    color: #fff;
}

.ui.transparent.inverted.input > input:focus {
    opacity: 0.8;
}